node_modules
.npm
.pnp
.pnp.js

dist
build
coverage
.cache
.turbo
.parcel-cache

.DS_Store
Thumbs.db

.idea
.vscode
*.swp
*.swo

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite / Vue
.vite/

# Nest
.nest/
